@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #000;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #000;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.boxed-btn {
  color: #fff !important;
  display: inline-block;
  padding: 17px 49px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}

.boxed-btn:hover {
  background: #333;
  color: #fff !important;
  border: 1px solid #fff;

}
.boxed-btn-black {
  color: #000 !important;
  display: inline-block;
  position: relative;
  padding: 17px 49px;
  margin: 10px 20px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}

.boxed-btn-black:hover {
  background: #333;
  color: #fff !important;
  border: 1px solid #fff;
}

.contact-info__icon {
    margin-right: 20px;
}

.contact-info__icon i, .contact-info__icon span {
    color: #8f9195;
    font-size: 27px;
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0 0 5px 5px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}


@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -33px;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
}

@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}

.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
  background: transparent;
  padding: 25px 185px;
  padding: 25px 150px;
}

.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}

.header-area .main-header-area.details_nav {
  background: #001D38;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 20px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 20px 20px;
  }
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 0px 0px 0px 0px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
    padding: 0px 0px 0px 0px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a:hover {
  color: #ccc;
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  border-radius: 5px;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  margin: 10px 0px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  background: #aaa;
  color: #fff;
  border-radius: 5px;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

.header-area .main-header-area.sticky ul li a::before {
  position: absolute;
  content: "";
  background: #000;
  width: 150%;
  height: 3px;
  bottom: -28px;
  left: -25%;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .header-top_area {
  padding: 12px 0;
  background: #001D38;
}

.header-area .header-top_area .header_right.d-flex {
  display: flex;
  justify-content: flex-end;
}

.slider_bg_1 {
  background-image: url(../img/banner/banner.png);
  background-size: cover !important;
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider_area {
  position: relative;
  z-index: 0;
}

.slider_area .single_slider {
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center left;
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 100vh;
  }
}

.slider_area .single_slider .slider_text {
  padding-top: 30vh;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text {
    padding-top: 35vh;
  }
}

.slider_area .single_slider .slider_text.about_slide {
  padding-top: 70px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text.about_slide {
    padding: 130px 0;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text.about_slide {
    padding: 130px 0;
  }
}

.slider_area .single_slider .slider_text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  text-transform: lowercase;
  font-weight: 300;
  line-height: 90px;
  color: #000;
  margin-bottom: 55px;
}

.slider_area .single_slider .slider_text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  line-height: 90px;
  color: #666;
  margin-bottom: 15px;
}

.slider_area .single_slider .slider_text h5 {
  color: #000;
}

.slider_area .single_slider .slider_text h3 span {
  color: #888;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 45px;
  }

  .slider_area .single_slider .slider_text h3 span {
    font-size: 30px;
  }
  
  .boxed-btn-black {
    padding: 10px 20px;
    margin: 10px 50% 0px 0px;
    font-size: 12px;
    font-weight: 500;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 60px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 65px;
  }
}

.slider_area .single_slider .slider_text p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "Roboto", sans-serif;
  margin-bottom: 24px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

.slider_area .single_slider .my_img {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 480px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .my_img {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .my_img {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .my_img {
    width: 300px;
    left: 30%;
  }
}


.slider_area .single_slider .my_img img {
  width: 100%;
}

.gallery_area {
  background: #222;
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery_area .single_gallery .thumb img {
  width: 100%;
}

.gallery_area .single_gallery .gallery_heading {
  padding: 20px 0;
  margin-top: 7px;
  margin-bottom: 70px;
  color: #fff;
}

.gallery_area .single_gallery .gallery_heading span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 7px;
}

.gallery_area .single_gallery .gallery_heading h4 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.gallery_area .more_works a {
  display: block !important;
}


.banner_bg_1 {
  background-image: url(../img/banner/small_banner.png);
}

.banner {
  background-size: cover;
  background-position: center left;
  padding: 204px 0 193px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding: 120px 0;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 150px 0;
  }
}

.banner.banner {
  height: 400px;
  padding-top: 130px;
  padding-bottom: 0;
}

.banner h3 {
  font-size: 80px;
  color: #000;
  font-weight: 300;
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .banner h3 {
    font-size: 50px;
  }
}

.banner p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.banner p a {
  color: #fff;
}

.banner p a:hover {
  color: #fff;
}

.banner .icon {
  background: #FF5748;
  width: 136px;
  height: 136px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 136px;
  margin: auto;
}

.banner .icon i {
  color: #fff;
  font-size: 68px;
}

.banner h4 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .banner h4 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner h4 {
    font-size: 40px;
  }
}

.banner p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.gallery{
  display: flexbox;
  text-align: center;
  margin: 0% 5%;
}

.gallery img{
  height: 700px;
  padding: 30px 20px;
}